* {
   box-sizing: border-box;
   margin:0;
   padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

.section {
  padding: 100px 0;
}

.app-btn {
  width: 150px;
  padding: 20px 0;
}

